@font-face {
  font-family:"PixelOperator";
  src: url(PixelOperatorHB.ttf) format('truetype');
  font-weight: 200;
  font-style: normal;
}

.top-nav {
  width:fit-content;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size:32px;
  margin-top:24px;
  margin-left:auto;
  margin-right:auto;
}
.welcome{
	display:flex;
	width:40%;
	justify-content:center;
	margin-top:16px;
	margin-left:auto;
	margin-right:auto;
	font-size:48px;
	padding:-0px 17px;}
	
.info {
	display:flex;
	max-width:800px;
	justify-content:center;
	margin:16px auto auto;
	font-size:32px;
	padding:0 17px;
	align-items: center;
}
.innergrid {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items: center;
	text-align: center;
	background-color:#ECC27F;
	border-color:#79B89B;
	border-style:solid;
	margin:8px;
	padding:12px 8px;
	background:url(images/pittbridge.png),#ECC27F;
	background-size:32px;
    background-blend-mode:soft-light;
	border-radius: 25px;
	}
.header{
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	border-color:#79B89B;
	border-style:solid;
	border-radius: 25px;
	margin:8px;
	padding:2px 9px;
	background:url(images/pittbridge.png),#ECC27F;
	background-size:32px;
    background-blend-mode:soft-light;
}
.header img{
	width: 100%;
	max-height: 400px;
	object-fit: cover;
	object-position: center;
	border-color:#ECC27F;
    border-style:solid;
    border-radius: 25px;
    border-width: 5px;
	margin-top: 5px;
}
.bottom-socials{
	display:flex;
    justify-content:center;
	max-width: 700px;
	font-size:32px;
	margin:12px auto auto;
}
.grid-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	border-color:#79B89B;
	border-style:solid;
	max-width:800px;
	margin:16px auto auto;
	font-size:32px;
	padding:0 17px;
	background:url(images/pittbridge.png),#ECC27F;
	background-size:32px;
    background-blend-mode:soft-light;
	border-radius: 25px;
	}

.window {
  text-align: center;
  font-family: PixelOperator;
  background:url(images/pittbridge.png),#ECC27F;
  border-color:#79B89B;
  border-style:solid;
  margin:8px;
  padding:2px 15px;
  background-size:32px;
  background-blend-mode:soft-light;
  border-radius: 25px;
}
.list{
	display:flex;
	flex-direction: column;
	margin: auto;
	justify-content:center;
	align-items: center;
	background:url(images/pittbridge.png),#ECC27F;
	border-color:#79B89B;
    border-style:solid;
	border-radius: 50px;
	margin:8px;
	padding: 4px 8px 8px 8px;
	background-size:32px;
    background-blend-mode:soft-light;
}
a:link,
a:visited {
  color:#C86C94;
  text-shadow:2px 2px 0px #110955
}
.images {
  max-width: 80%; 
  height: auto;
  border-color:#ECC27F;
  box-shadow: 1px 1px 5px black;
}
.title{
  color:#C86C94;
  text-shadow:2px 2px 0px #110955;
  padding-top: 16px; 
  padding-left: 16px; 
  padding-right:16px;
}

.infoimages {
  max-width: 60%; 
  height: auto;
  border-color:#ECC27F;
  border-style:solid;
  border-radius: 50px;
  border-width: 5px; 
}

h2 {
    text-align: center;
	margin: 10px;
	font-weight: 600;
}
p{
	text-align: center;
	margin: auto;
	padding: 4px 4px 4px 4px;
	font-weight: 600;
}
img{
	margin: 4px;
}
html {
  background:url(images/background.png),#3C8F69;
  background-attachment:fixed;
  background-blend-mode:soft-light;
}
body {
  font-family:PixelOperator;
  text-shadow: 3px 2px #9e476d;
  color:#f7f1e9;
  font-weight: 600;
}
