@font-face {
  font-family:"PixelOperator";
  src: url(PixelOperator.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

.top-nav {
  width:fit-content;
  display:flex;
  justify-content:center;
  font-size:32px;
  margin-top:24px;
  margin-left:auto;
  margin-right:auto
}
.welcome{
	display:flex;
	width:30%;
	justify-content:center;
	margin-top:24px;
	margin-left:auto;
	margin-right:auto;
	font-size:32px;
	padding:-0px 17px;
	font-family:PixelOperator}
	
.info {
	width:800px;margin:16px auto auto;font-size:32px;padding:0 17px}
.innergrid {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items: center;
	text-align: center;
	min-height: 300px;
	background-color:#ECC27F;
	border-color:#79B89B;
	border-style:solid;
	margin:8px;
	padding:2px 9px;
	background:url(images/pittbridge.png),#ECC27F;
	background-size:32px;
    background-blend-mode:soft-light;
	}
.header{
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 500px;
	overflow:hidden;
	border-color:#79B89B;
	border-style:solid;
	margin:8px;
	padding:2px 9px;
	background:url(images/pittbridge.png),#ECC27F;
	background-size:32px;
    background-blend-mode:soft-light;
}
.header img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-style: solid;
}
.bottom-socials{
	width:fit-content;
	display:flex;
	justify-content:center;
	font-size:32px;
	margin:12px auto auto}
.grid-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	border-color:#79B89B;
	border-style:solid;
	width:800px;
	margin:16px auto auto;
	font-size:24px;
	padding:0 17px;
	background:url(images/pittbridge.png),#ECC27F;
	background-size:32px;
    background-blend-mode:soft-light;
	}

.window {
  font-family: PixelOperator;
  background:url(images/pittbridge.png),#ECC27F;
  border-color:#79B89B;
  border-style:solid;
  margin:8px;
  padding:2px 9px;
  background-size:32px;
  background-blend-mode:soft-light;
}
.windownobg {
  background-color:#08000c;
  border-color:#ccc;
  border-style:solid;
  margin:8px;
  padding:2px 9px
}
a:link,
a:visited {
  color:#C86C94;
  font-weight:600;
  text-shadow:2px 2px 0px #110955
}
.gilded {
  color:#e942d3;
  font-weight:700;
  text-shadow:2px 2px 0px #46063d
}
.subtext {
  font-weight:lighter;
  font-style:italic;
  font-size:16px
}
.underline {
  text-decoration:underline
}
html {
  background:url(images/background.png),#3C8F69;
  background-attachment:fixed;
  background-blend-mode:soft-light;
}
body {
  font-family:PixelOperator;
  text-shadow: 2px 2px #C86C94;
  color:#FFF9F1
}